# gitignore
*.pdf
*.docx
*.docx#
*.png
*.html
*.odt
*.odt#
*.xlsx
*.tar.gz
*.zip
sandbox.R
background_material/
covidm/
covid_eco_analysis/
data/
manuscripts/
simul_output/
ifr_estimates/
covid_LIC_fcns.R
covid_LIC_model.R
somalia_linelist.R 
