# gitignore
*.pdf
*.docx
*.docx#
*.png
*.html
*.odt
*.odt#
*.xlsx
*.tar.gz
*.zip
sandbox.R
covidm/
covid_eco_analysis/
covid_lmic_v2/
SDN/
total-covid-deaths-region.csv
latestdata.csv
latestdata_1e4rows.csv

